apps/runner/recipes/commit-to-eval.json
{
  "name": "T3X: Commit to Eval",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "commit-to-eval",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "a1b2c3d4-0001-4000-8000-ffffffffffff"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.body ? ($json.body.t3x_api_url || 'http://localhost:8000') : 'http://localhost:8000' }}/api/v1/leaves?project_id={{ $json.body ? $json.body.payload.project_id : $json.payload.project_id }}&commit_hash={{ $json.body ? $json.body.payload.commit_hash : $json.payload.commit_hash }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Find Leaves",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Has Leaves?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body ? ($('Webhook').item.json.body.t3x_api_url || 'http://localhost:8000') : 'http://localhost:8000' }}/api/v1/runs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leaf_id\": \"{{ $('Find Leaves').item.json.data[0].id }}\",\n  \"project_id\": \"{{ $('Webhook').item.json.body ? $('Webhook').item.json.body.payload.project_id : $('Webhook').item.json.payload.project_id }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Trigger Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body ? ($('Webhook').item.json.body.report_url || '') : ($('Webhook').item.json.report_url || '') }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"eval.completed\",\n  \"commit_hash\": \"{{ $('Webhook').item.json.body ? $('Webhook').item.json.body.payload.commit_hash : $('Webhook').item.json.payload.commit_hash }}\",\n  \"project_id\": \"{{ $('Webhook').item.json.body ? $('Webhook').item.json.body.payload.project_id : $('Webhook').item.json.payload.project_id }}\",\n  \"run\": {{ JSON.stringify($json) }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Report Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Eval triggered\",\n  \"leaf_id\": \"{{ $('Find Leaves').item.json.data[0].id }}\",\n  \"run\": {{ JSON.stringify($('Trigger Run').item.json) }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"No leaves found for this commit, skipping eval\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Respond No Leaves",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 440]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Find Leaves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Leaves": {
      "main": [
        [
          {
            "node": "Has Leaves?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Leaves?": {
      "main": [
        [
          {
            "node": "Trigger Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Leaves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Run": {
      "main": [
        [
          {
            "node": "Report Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Result": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "t3x",
      "id": "t3x-tag-1"
    },
    {
      "name": "eval",
      "id": "t3x-tag-2"
    }
  ]
}
