apps/runner/recipes/leaf-auto-generate.json
{
  "name": "T3X: Leaf Auto-Generate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leaf-auto-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "c3d4e5f6-0003-4000-8000-ffffffffffff"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body ? ($json.body.t3x_api_url || 'http://localhost:8000') : ($json.t3x_api_url || 'http://localhost:8000') }}/api/v1/leaves/{{ $json.body ? $json.body.payload.leaf_id : $json.payload.leaf_id }}/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000002",
      "name": "Generate Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "leaf_id",
              "value": "={{ $('Webhook').item.json.body ? $('Webhook').item.json.body.payload.leaf_id : $('Webhook').item.json.payload.leaf_id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "project_id",
              "value": "={{ $('Webhook').item.json.body ? $('Webhook').item.json.body.payload.project_id : $('Webhook').item.json.payload.project_id }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "type",
              "value": "={{ $('Webhook').item.json.body ? $('Webhook').item.json.body.payload.type : $('Webhook').item.json.payload.type }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "commit_hash",
              "value": "={{ $('Webhook').item.json.body ? $('Webhook').item.json.body.payload.commit_hash : $('Webhook').item.json.payload.commit_hash }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "generate_success",
              "value": "={{ $json.success === true || $json.success === 'true' }}",
              "type": "boolean"
            },
            {
              "id": "6",
              "name": "generate_result",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Auto-generate completed\",\n  \"leaf_id\": \"{{ $json.leaf_id }}\",\n  \"type\": \"{{ $json.type }}\",\n  \"generate_success\": {{ $json.generate_success }}\n}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000004",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Output": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Result": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "t3x",
      "id": "t3x-tag-1"
    },
    {
      "name": "automation",
      "id": "t3x-tag-4"
    }
  ]
}
